<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>854124365552-4scsn25j2ujno6btdrk339urf07kapsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854124365552-4scsn25j2ujno6btdrk339urf07kapsv</string>
	<key>API_KEY</key>
	<string>AIzaSyArl0QNYAFmEr3H8BmX_knYjxErVEr5-1w</string>
	<key>GCM_SENDER_ID</key>
	<string>854124365552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torigian.iCanRun</string>
	<key>PROJECT_ID</key>
	<string>icanrun-1f2d7</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854124365552:ios:e6f1cf00863f7a6a</string>
	<key>DATABASE_URL</key>
	<string>https://icanrun-1f2d7.firebaseio.com</string>
</dict>
</plist>